:root {
  --color-white: #ffffff;
  --color-black: #000000;

  /* border radius */
  --radius-sm: 4px;
  --radius-md: 8px;

  /* typography */
  --text-size: 16px;
  --line-height: 26px;

  /* spacing */
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;

  /* elements  */
  --header-height: 54px;

  /* fonts */
  --font-caption: 0.6rem;
  --font-label: 0.8rem;
  --font-body: 1rem;
  --font-h6: 1.2rem;
  --font-h5: 1.5rem;
  --font-h4: 1.9rem;
  --font-h3: 2.2rem;
  --font-h2: 2.7rem;
  --font-h1: 3.2rem;

  /* animation */
  --default-transition-settings: 0.2s ease-in-out;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: oklch(16.59% 0.022 271.06);
    --color-background: oklch(96.46% 0.010 273.36);
    --color-primary: oklch(50.08% 0.162 265.74);
    --color-secondary: oklch(80% 0.4 267.53 / 0.2);
    --color-accent: oklch(64.04% 0.145 266.78);

    --scrollbar-foreground: oklch(36% 0 0);
    --scrollbar-background: var(--color-background);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: oklch(93.77% 0.014 272.69);
    --color-background: oklch(13.04% 0.019 269.80);
    --color-primary: oklch(51.55% 0.163 266.05);
    --color-secondary: oklch(34.75% 0.110 265.02);
    --color-accent: oklch(40.24% 0.158 264.83);

    --scrollbar-foreground: oklch(0.84 0 0);
    --scrollbar-background: var(--color-background);
  }
}
