.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--spacing-sm);
}

.field {
  padding: var(--spacing-sm) var(--spacing-lg);
  width: 100%;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: var(--radius-sm);
  background-color: white;
  outline: 1px solid transparent;
  transition: border var(--default-transition-settings);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border-bottom: 2px solid var(--accent);
  }

  &::placeholder {
    color: var(--text);
    opacity: 0.3;
    font-size: var(--font-label);
  }
}
