.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  min-height: var(--line-height);
  border-radius: var(--radius-sm);

  & + .skeleton {
    margin-top: var(--spacing-sm);
  }
}

.skeletonBlock {
  min-height: calc(var(--line-height) * 3);
}

.skeletonAvatar {
  border-radius: 50%;
  height: calc(var(--line-height) * 2);
  width: calc(var(--line-height) * 2);
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
