.logo {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  color: var(--color-text);
  font-weight: 550;
  transition: color var(--default-transition-settings);
  outline: none;

  span {
    transition: transform var(--default-transition-settings);
  }

  svg {
    fill: transparent;
    stroke: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--color-primary);

    span {
      transform: translateX(5px);
    }
  }

  &:active {
    color: var(--color-secondary);
  }
}
