.logo {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  color: var(--text);
  font-weight: 550;

  span {
    transition: transform var(--default-transition-settings);
  }

  &:hover {
    span {
      transform: translateX(5px);
    }
  }
}
