.header {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
}

.logo {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--mantine-color-black);
}

.burger {
  margin-right: 10px;
}
